<nav style="text-align: center;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a style="text-align: center;" class="navbar-brand" href="/">Contas</a>
    <a style="text-align: center;" class="navbar-brand" href="/services">Serviços</a>
    <a style="text-align: center;" class="navbar-brand" href="/">Clientes</a>
    <a style="text-align: center;" class="navbar-brand" href="/">Funcionarios</a>
</nav>